<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー自動作成ページ</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
    <!-- <link rel="stylesheet" href="http://localhost:3000/style.min.css"> -->
</head>
<body>
    <div class="container">
        <h1>ユーザー自動作成ページ</h1>
        <div class="create_user_form">
            <table>
                <form action="{% url 'create_user' %}" method="post">
                    {% csrf_token %}
                        {{form.as_table}}
                        <tr>
                            <td></td>
                            <td><input type="submit" value="作成"></td>
                        </tr>
                </form>
            </table>
            {% if message %}
                <p>{{message}}</p>
            {% endif %}
        </div>
        <hr>
        <div class="users_display">
            <table>
                <tr>
                    <th>ユーザーID</th>
                    <th>ユーザー名</th>
                    <th>メールアドレス</th>
                    <th>性別</th>
                    <th>血液型</th>
                    <th>年齢</th>
                    <th>生年月日</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.usernonamae}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.get_sex_display}}</td>
                    <td>{{user.get_blood_type_display}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.born_at}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="pagination">
            {% if users.has_previous %}
                <a href="{% url 'create_user' %}">&laquo;first</a>
                <a href="{% url 'create_user' %}{{users.previous_page_number}}">&laquo;prev</a>
            {% endif %}
            <span class="current">
                [{{users.number}}/{{users.paginator.num_pages}}]
            </span>
            {% if users.has_next %}
                <a href="{% url 'create_user' %}{{users.next_page_number}}">next&raquo;</a>
                <a href="{% url 'create_user' %}{{users.paginator.num_pages}}">last&raquo;</a>
            {% endif %}
        </div>
    </div>
</body>
</html>