django==2.2.13
gunicorn==20.0.4
psycopg2-binary==2.8.4
boto==2.49.0
boto3==1.10.45
django-allauth==0.41.0
django-ses==0.8.13
django-storages==1.8
django-cleanup==4.0.0
pillow==7.1.0
djangorestframework==3.11.2
djangorestframework-simplejwt==4.4.0
djoser==2.0.3
django-cors-headers==3.2.1
django-environ==0.4.5
django-filter==2.2.0