django==4.2.29
gunicorn==22.0.0
psycopg2-binary==2.9.1
boto==2.49.0
boto3==1.18.35
django-allauth==65.14.1
django-ses==3.5.0
django-storages==1.11.1
django-cleanup==5.2.0
pillow==12.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.1
djoser==2.3.0
django-cors-headers==3.8.0
django-environ==0.5.0
django-filter==2.4.0