body{
    background-color: #eee;
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}

.container{
    width: 740px;
}

h1{
    text-align: center;
}

.create_user_form table{
    width: auto;
    margin: 0 auto;
}

.users_display table{
    width: 100%;
}

.users_display th{
    background-color: #41be99;
    color: white;
    padding: 4px 0;
}

.users_display td{
    text-align: center;
    background-color: white;
    padding: 4px 0;
}

.pagination{
    text-align: center;
}