<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
        <!-- <link rel="stylesheet" href="http://localhost:3000/style.min.css"> -->
        <link rel="icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        {% block body %}
        <div id="app">
            <div class="Signup">
                <div class="Signup__header">
                    <h1 class="Signup__shappar"><a href="{% url 'index' %}">Shappar</a></h1>
                </div>
            </div>
                
                {% if messages %}
                <div>
                    <strong>Messages:</strong>
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% block content %}
                {% endblock %}
                
                {% endblock %}
                {% block extra_body %}
        </div>
        {% endblock %}
    </body>
</html>